.header-title{
	color: red;
}
p.text-bottom{
	color: green;
}
li a{
	color: indigo;
}
page p{
	color: hotpink;
}
span{
	color: red;
}
p.page{
	color: grey;
}
h2 {
	color: indigo;
}
.body-politik p{
color: lawngreen;
}
span.khaki{
	color: khaki;
}
li.item-truth{
	color: lightsalmon;
}
ul li{
	color: grey;
}
.politik-body{
	color: goldenrod;
}
p.big-red{
	color: red;
}
p.big-green{
	color: green;
}
.big-grey{
	color: grey;
}
span.big-indigo{
   color: indigo;
}
p.big-paleturquoise{
	color: paleturquoise;
}
p.big-purple{
	
}
p.big-plump{
 color: plum;
}
span.big-peru{
color: peru;
}


